<div class='mt-4'>
  <a href='/events/type/view'>Xem</a>
  <h3>Thêm Type</h3>
  <form method='POST' action='/events/type/store'>
    <div class='mb-3'>
      <label for='name' class='form-label'>Tên</label>
      <textarea class='form-control' id='name' name='name'></textarea>
    </div>

    <button type='submit' class='btn btn-primary'>Thêm</button>
  </form>
</div>

