<form action='/partner/store' method='POST' enctype='multipart/form-data'>
  <a href='/partner/view'>Xem</a>
  <label for='name'>Tên Đối Tác:</label>
  <input type='text' name='name' required />

  <div class='mb-3'>
    <label class='form-label fw-bold'>Hình ảnh:</label>
    <input type='file' class='form-control' name='logo' accept='image/*' />
  </div>

  <div class="mb-3">
      <label class="form-label fw-bold" for="type">type:</label>
      <select name="type">
        <option value="Edu">Edu</option>
        <option value="Business">Business</option>
      </select>
  </div>

  <label for='link'>Website:</label>
  <input type='text' name='link' />

  <button type='submit'>Thêm Partner</button>
</form>