<div class='mt-4'>
  <h3>Thêm Hợp phần</h3>
  <a href='/hopphan/view'>Xem</a>
  <form method='POST' action='/hopphan/store'>
    <div class='mb-3'>
      <label for='name' class='form-label'>Tag Name</label>
      <input type='text' class='form-control' id='name' name='name' required />
    </div>
    <div class='mb-3'>
      <label class='form-label fw-bold'>Nội dung:</label>
      <textarea class='form-control' name='content'></textarea>
    </div>
    <div class='mb-3'>
      <label class='form-label fw-bold'>Thời gian:</label>
      <input type='date' class='form-control' name='startDate' />
      <input type='date' class='form-control mt-2' name='endDate' />
    </div>

    <button type='submit' class='btn btn-primary'>Thêm</button>
  </form>
</div>
