<div class="container mt-5">
    <h2 class="text-center text-primary">Thêm Event</h2>
    <a href="/events/view">Xem [{{ deletedCount }}]</a>
    <form action="/events/store" method="POST" enctype="multipart/form-data" class="border p-4 shadow rounded bg-light">
        <div class="mb-3">
            <label class="form-label fw-bold">Tên:</label>
            <input type="text" class="form-control" name="name" required>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Tổng quan:</label>
            <textarea class="form-control" name="overview"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Mục tiêu:</label>
            <input type="text" class="form-control" name="aim">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Hoạt động:</label>
            <textarea class="form-control" name="activities"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">Kết quả:</label>
            <input type="text" class="form-control" name="outcomes">
        </div>

        <div class="mb-3">
            <label class="form-label fw-bold">url:</label>
            <input type="text" class="form-control" name="url">
        </div>
        <div class="mb-3">
            <label class="form-label fw-bold">Ngày đăng:</label>
            <input type="text" class="form-control" name="dateup">
        </div>


        <div class="mb-3">
            <label class="form-label fw-bold">Hình ảnh:</label>
            <input type="file" class="form-control" name="image" accept="image/*">
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-3">Thêm</button>
    </form>
</div>

